@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 6.5%;
    --card: 349 50% 90%;
    --card-foreground: 349 5% 10%;
    --popover: 349 100% 95%;
    --popover-foreground: 349 100% 0%;
    --primary: 349 75.7% 45.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 70% 27%;
    --secondary-foreground: 0 0% 0%;
    --muted: 311 30% 85%;
    --muted-foreground: 349 5% 35%;
    --accent: 311 30% 80%;
    --accent-foreground: 349 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 349 5% 90%;
    --border: 346 70% 27%;
    --border-primary: 346 70% 27%;
    --border-secondary: 349 76% 45%;

    --input: 349 30% 18%;
    --ring: 349 75.7% 45.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 349 50% 5%;
    --foreground: 349 5% 90%;
    --card: 349 50% 0%;
    --card-foreground: 349 5% 90%;
    --popover: 349 50% 5%;
    --popover-foreground: 349 5% 90%;
    --primary: 349 75.7% 45.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 349 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 311 30% 15%;
    --muted-foreground: 349 5% 60%;
    --accent: 311 30% 15%;
    --accent-foreground: 349 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 349 5% 90%;
    --border: 349 30% 18%;
    --input: 349 30% 18%;
    --ring: 349 75.7% 45.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hideScroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hideScroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.break-words {
  overflow-wrap: break-word;
}

.text-wrap {
  white-space: pre-wrap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
  -webkit-text-fill-color: white !important;
}
